<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<!-- view层-->
<div id="app">
    <div>
        输入框:<input type="text" v-model="message">{{message}}
    </div>
    <div>
        <textarea name="" id="" cols="30" rows="10" v-model="message">
        文本框
    </textarea>{{message}}
    </div>
    <div>
        性别：
        <input type="radio" name="sex" value="男" v-model="qingjiang"> 男
        <input type="radio" name="sex" value="女" v-model="qingjiang"> 女
    </div>
    <P>
        选中了谁：{{qingjiang}}
    </P>
    <div>
        下拉框
        <select name="" id="1" v-model="selected">
            <option value="" disabled>--请选择--</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>value:{{selected}}</span>
    </div>

</div>

<!-- 导入vue.js-->
<script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            message: "123",
            qingjiang: '',
            selected: ''
        }
    });
</script>

</body>
</html>